<% include ./partials/header%>

<div id='cssmenu'>
		<ul>
   			<li><a href='/'>Home</a></li>
   			<li class='active'><a href='/login'>LogIn</a></li>
   			<li><a href='/signup'>SignUp</a></li>
   			
		</ul>
</div>

<div id="wrapper">
	<form name="login-form" class="login-form" action="/login" method="POST">
		<div class="header">
		<h1>Login Form</h1>
		<span>Please log In to continue</span>
		</div>
	
		<div class="content">
		<input name="username" type="text" class="input username" placeholder="Username" />
		<div class="user-icon"></div>
		<input name="password" type="password" class="input password" placeholder="Password" />
		<div class="pass-icon"></div>		
		</div>

		<div class="footer">

		<input type="submit"class="button" />
		
		</div>
	
	</form>

</div>
<div class="gradient"></div>

<% include ./partials/footer%>